body{
    margin: 0;
    background-color: red;
}
header{
    top: 0;
    left: 0;
    right: 0;
    background-color: red;
    position: fixed;
    min-height: 50px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    margin-top: 0%;
    height: 100%;
    width: 50%;
}
.navbar{
    background-color: #ff0000;
    overflow: hidden;
    margin: 0 10px 0 0;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    margin: 0;
    padding: 0;
}
.navbar ul li{
    list-style: none;
    display: inline;
    margin: 0;
    text-align: left;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: medium;
    float: left;
    margin: 0;
    text-align: center;
    padding: 14px 0px;
    width: 75px;
}
.navbar ul li a:hover{
    background-color: #ddd;
    color: black;
}
.navbar ul li a.active{
    background-color: rgb(0, 168, 168);
    color: white;
}
.content{
    margin-top: 10%;
}
.content h2{
    text-align: center;

}
.content p{
    font-size: x-large;
    text-align: center;
}
.links a{
    width: 130px;
    text-decoration: none;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.btn1,
.btn2,
.btn3{
    display: flex;
    gap: 5px;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius:  7.5px;
    transition-duration: 0.4s;
    padding: 10px 0px;
    width: 125px;
    cursor: pointer;
}
.btn1:hover,
.btn2:hover,
.btn3:hover{
    background-color: aqua;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2),  0 17px 50px 0 rgba(0,0,0,0.19);;
}
.thanks{
    text-align: center;
    margin-top: 75px;
    color: aqua;
}
.flex1{
    background: rgb(0, 0, 0);
    margin-top: 0%;
}
.flex2{
    background: rgba(0, 0, 0, 0.925);
    margin-top: -1.6%;
}
.flex3{
    background: rgba(0, 0, 0, 0.85);
    margin-top: -1.65%;
}
.flex1 h1{
    color: aqua;
    text-align: center;
    text-transform: uppercase;
    text-decoration: dashed;
}
.flex2 h1{
    color: aqua;
    text-align: center;
    text-transform: uppercase;
    text-decoration: dashed;
}
.flex3 h1{
    color: aqua;
    text-align: center;
    text-transform: uppercase;
    text-decoration: dashed;
}
.flex1 p{
    color: aquamarine;
    text-align: center;
    margin-top: -20px;
}
.flex2 p{
    color: aquamarine;
    text-align: center;
    margin-top: -20px;
}
.flex3 p{
    color: aquamarine;
    text-align: center;
    margin-top: -20px;
}
.flex{
    display: inline;
    position: relative;
}
